
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2342650808451846"
     crossorigin="anonymous"></script>
  <meta name="07b35b4b86afd3056bdb88b8554c8ef5682b8d2c" content="07b35b4b86afd3056bdb88b8554c8ef5682b8d2c" />
</head>
<body class="bg-black text-white min-h-screen flex flex-col">
  {{ partial "header.html" . }}
  <div class="flex flex-col lg:flex-row flex-1">
    <main class="lg:w-3/4 p-4">
      {{ block "main" . }}{{ end }}
    </main>
    <aside class="lg:w-1/4 p-4 bg-gray-800">

      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2342650808451846"
          crossorigin="anonymous"></script>
      <!-- new movies -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-2342650808451846"
          data-ad-slot="7981776223"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

      <div class="mb-4">
        <h2 class="text-lg font-bold mb-2">Categories</h2>
        <ul class="flex flex-wrap gap-2">
          <li class="bg-gray-600 px-2 py-1 rounded">Action</li>
          <li class="bg-gray-600 px-2 py-1 rounded">Drama</li>
          <li class="bg-gray-600 px-2 py-1 rounded">Horror</li>
        </ul>
      </div>
      
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2342650808451846"
          crossorigin="anonymous"></script>
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2342650808451846"
          crossorigin="anonymous"></script>
     <!-- vertical -->
     <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-2342650808451846"
          data-ad-slot="8354145463"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
     <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </aside>
  </div>
  {{ partial "footer.html" . }}
</body>
</html>
