{{ define "main" }}
<div class="flex flex-col lg:flex-row gap-6">

  <!-- Poster on the left -->
  <div class="w-full lg:w-1/5">
    <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="w-[290px] h-[300px] rounded shadow" />
  </div>

  <!-- Info on the right -->
  <div class="w-full lg:w-3/5 text-white space-y-4">
    <h1 class="text-3xl font-bold">{{ .Title }}</h1>
    <p><strong>Year:</strong> {{ .Params.year }}</p>
    <p><strong>Categories:</strong>
      {{ range .Params.categories }}
        <span class="bg-gray-700 px-2 py-1 rounded-full mr-2">{{ . }}</span>
      {{ end }}
    </p>
     <!-- Tags -->
     <p><strong>Tags:</strong>
        {{ range .Params.tags }}
          <span class="bg-red-700 px-2 py-1 rounded-full mr-2">{{ . }}</span>
        {{ end }}
      </p>
    <a href="{{ .Params.watch_link }}" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Watch Online
    </a>
  </div>
</div>

<!-- Optional Description -->
<div class="mt-8 text-white">
  {{ .Content }}
</div>
{{ end }}
