{{ define "main" }}
<div class="bg-gray-800 text-center py-4 mb-6 rounded shadow">
  <h1 class="text-2xl font-bold text-white">Watch Online Movies</h1>
</div>

<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  {{ range .Paginator.Pages }}
    <a href="{{ .RelPermalink }}" class="block bg-gray-900 rounded overflow-hidden hover:shadow-lg transition">
      <img src="{{ .Params.image }}" alt="{{ .Title }}" class="h-[300px] w-full object-cover">
      <div class="bg-gray-800 text-white text-center font-bold py-2">
        {{ .Title }}
      </div>
    </a>
  {{ end }}
</div>


<!-- Pagination -->
<div class="mt-6 flex justify-center items-center space-x-2 text-white">
  {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.First.URL }}" class="px-3 py-1 bg-gray-800 rounded hover:bg-blue-600">««</a>
    <a href="{{ .Paginator.Prev.URL }}" class="px-3 py-1 bg-gray-800 rounded hover:bg-blue-600">«</a>
  {{ end }}

  {{ range .Paginator.Pagers }}
    <a href="{{ .URL }}"
       class="px-3 py-1 rounded {{ if eq . .Paginator }}bg-blue-600{{ else }}bg-gray-800 hover:bg-blue-600{{ end }}">
      {{ .PageNumber }}
    </a>
  {{ end }}

  {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" class="px-3 py-1 bg-gray-800 rounded hover:bg-blue-600">»</a>
    <a href="{{ .Paginator.Last.URL }}" class="px-3 py-1 bg-gray-800 rounded hover:bg-blue-600">»»</a>
  {{ end }}
</div>
{{ end }}
